* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;

    &--medium {
        max-width: 1000px;
    }

    &--small {
        max-width: 800px;
    }
}
